.wrapper-body{

    height:200vh;
    background-image: url(../../src/assets/backgroundimg/1671474514417.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

}




