.navbar {

    top:0;
    position:sticky;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 10px 23px -2px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 10px 23px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 10px 23px -2px rgba(0,0,0,0.51);

}

.login{

    background-color: red;
    padding: 0.2rem 1rem;
    border-radius: 3px;
}

.login a{
    color: black;
    font-weight: bold;
    
}


@media (min-width: 991px) {
    .collapse {
    display: flex;
    justify-content: space-between;
}
.login{

    background-color:none;
    padding: none;

}

.login a {

    color: white;

}
}
